
thermal/
SplitWindow/LC80160302020170LGN00.tar.gz
other/NN/SurfRad3_t1011_e1011_predictions_new_NN.csv
other/NN/SurfRad3_t1011_e1011_predictions_new_NN_buoy.csv
other/NN/SurfRad3_t1011_e1011_predictions_new_NN_buoy_onlyT.csv
other/NN/SurfRad3_t1011_e1011_predictions_new_NN_onlyT.csv
other/NN/SurfRad3_t1011_e1011_predictions_new_NN_weight_decay_all.csv
other/NN/SurfRad3_t1011_e1011_predictions_SVR.csv
other/NN/SurfRad3_t1011_e1011_predictions_SVR_buoy.csv
other/NN/r10_r11_e10_e11_PaperDataAll.csv
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2016.txt
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2016.txt.gz
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2017.txt
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2017.txt.gz
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2018.txt
other/Buoy_data/output_data/dirs/data/tirs/tania-dir/noaa/44066h2018.txt.gz
other/Buoy_data/misc_files/muri_band_response_curves.csv
other/NN/t1011_e1011_predictions_paper_aveB10B11.csv
other/NN/t1011_e1011_predictions_paper_NN_decay_all.csv
other/NN/t1011_e1011_predictions_paper_SVR_all.csv
other/NN/T10_11_emis10_11_BuoyOceanLSTLST.csv
other/NN/t10_t11_e10_e11_SR.csv
